---
import type { HTMLAttributes } from "astro/types";
import { type CartTotal } from "@lib/cart";
import { formatPrice } from "@lib/stringUtils";
import { cn } from "@lib/cn";
import { getCheckoutUrl } from "@config/site";

interface Props extends HTMLAttributes<"fieldset"> {
  total: CartTotal;
}

const { total, class: className, ...rest } = Astro.props;
---

<fieldset {...rest} class={cn(className)}>
  <legend>Sammanställning</legend>
  <p class="text-4xl mb-1" data-translate="never">
    {formatPrice([total.total])}
  </p>
  <p class="text-sm">
    Inkl. <span data-translate="never">{formatPrice([total.tax])}</span> moms
  </p>
  <hr class="my-6" />
  <p>Välj upphämtningsdatum i nästa steg.</p>
  <a href={getCheckoutUrl()} class="btn btn--primary w-full text-center mt-4">
    Gå till kassan
  </a>
</fieldset>
