---
import Section from "@components/Section.astro";
import Layout from "src/layouts/Layout.astro";
import IntroText from "@components/IntroText.astro";
import { getCollection } from "astro:content";
import ProductOverview from "@components/ProductOverview.astro";
import Link from "@components/Link.astro";
import { ENABLE_STOREFRONT } from "astro:env/server";
import { sanityAPI } from "@lib/sanityAPI";
import { getDateString, addDays, isDateInFuture } from "@lib/dateUtils";
import {
  PICKUP_DATE_MIN_OFFSET,
  PICKUP_DATE_MAX_OFFSET,
} from "astro:env/server";

if (!ENABLE_STOREFRONT) {
  return Astro.rewrite("/404");
}

const productEntries = await getCollection("products");
const pickupDateMin = addDays(PICKUP_DATE_MIN_OFFSET);
const pickupDateMax = addDays(PICKUP_DATE_MAX_OFFSET);
const defaultPickupDates = await sanityAPI.getOpenDaysInRange(
  getDateString(pickupDateMin),
  getDateString(pickupDateMax),
);

const productsWithDates = productEntries.map(({ data }) => {
  const availablePickupDates =
    data.pickupDates?.length ?
      data.pickupDates.filter((dateStr) => isDateInFuture(dateStr))
    : defaultPickupDates;
  return { product: data, availablePickupDates };
});
---

<Layout
  title="Beställ"
  metaDescription="Beställ dina bakverk online och hämta upp i butik."
>
  <Section>
    <h1>Beställ bakverk direkt från bageriet</h1>
    <IntroText class="mb-8">
      Beställ online och betala i butik. Välj upphämtningsdatum i kassan och
      hämta i butiken under <Link href="/kontakt" label="våra öppettider" />.
    </IntroText>
  </Section>
  <Section>
    <h2 class="mb-8">Produkter</h2>
    <ProductOverview products={productsWithDates} />
  </Section>

  <style>
    @reference "tailwindcss";

    p {
      @apply max-w-prose;
    }
  </style>
</Layout>
