---
import type { HTMLAttributes } from "astro/types";
import type { Product } from "@lib/schemas/Product";

interface Props extends HTMLAttributes<"fieldset"> {
  product: Product;
}

const { product, class: className, ...rest } = Astro.props;
---

<fieldset {...rest}>
  <legend>Tillg채nglighet</legend>
  <p>
    {product.title} g책r dessv채rre inte att best채lla just nu. Titta tillbaka snart!
  </p>
</fieldset>
