---
import type { HTMLAttributes } from "astro/types";
import type { Product } from "@lib/schemas/Product";
import { getPickupDateDescription } from "@lib/stringUtils";
import {
  PICKUP_DATE_MIN_OFFSET,
  PICKUP_DATE_MAX_OFFSET,
} from "astro:env/server";

interface Props extends HTMLAttributes<"fieldset"> {
  product: Product;
  availablePickupDates: string[];
}

const { product, availablePickupDates, ...rest } = Astro.props;
---

<fieldset {...rest}>
  <legend>Tillgänglighet</legend>
  <p>
    {
      getPickupDateDescription(
        product,
        availablePickupDates,
        PICKUP_DATE_MIN_OFFSET,
        PICKUP_DATE_MAX_OFFSET,
      )
    }
  </p>
</fieldset>
