---
import type { HTMLAttributes } from "astro/types";
import type { Product } from "@lib/schemas/Product";

interface Props extends HTMLAttributes<"fieldset"> {
  max: Product["maxQuantityPerOrder"];
  qtyInCart: number;
}

const { max, qtyInCart, class: className, ...rest } = Astro.props;
const isUnlimited = max === null;
console.log({ max, qtyInCart, isUnlimited });
---

<fieldset {...rest}>
  <legend>Antal</legend>
  {
    !isUnlimited && (
      <p>
        Kontakta oss på order@bagerileve.se om du vill beställa fler än {max}{" "}
        st.
      </p>
    )
  }
  <label class="flex flex-wrap items-center gap-4">
    <input
      name="qty"
      type="number"
      min="1"
      value="1"
      max={isUnlimited ? undefined : max - qtyInCart}
    />
    <span class="font-semibold">st.</span>
  </label>
</fieldset>
