---
import Section from "@components/Section.astro";
import Layout from "../../layouts/Layout.astro";
import IntroText from "@components/IntroText.astro";
---

<Layout
  title="Kurser"
  metaDescription="Bli bättre på att få till ett gott surdegsbröd - skaffa en djupare förståelse för varför det blir som det blir och inte alltid som du tänkt dig och lär dig att göra dina egna recept."
>
  <Section>
    <h1>Du kan baka, du är inte rädd</h1>
    <IntroText
      >Tyvärr kommer det inte bli fler brödkurser framöver på Leve. Vi kan
      rekommendera brödlabbet för kurser i surdegsbakning.</IntroText
    >
  </Section>
</Layout>
