---
import Section from "@components/Section.astro";
import Layout from "../layouts/Layout.astro";
import IntroText from "@components/IntroText.astro";

export const prerender = false;
---

<Layout title="404" metaDescription="Sidan kunde inte hittas">
  <Section class="mb-64">
    <h1 class="mb-6">Sidan kunde inte hittas</h1>
    <IntroText>
      Vi kan tyvärr inte hitta sidan du söker. Det kan bero på ett stavfel, att
      sidan inte längre finns eller att den har flyttat. Välj någon av länkarna
      nedan för att hitta det du söker.
    </IntroText>
  </Section>
</Layout>
