---
import { cn } from "@lib/cn";
import type { ButtonVariant } from "@lib/types/ButtonVariant";
import type { HTMLAttributes } from "astro/types";
import { buttonStyles } from "@lib/buttonStyles";

interface Props extends HTMLAttributes<"a"> {
  variant?: ButtonVariant;
}

const { href, variant = "default", class: className, ...rest } = Astro.props;
---

<a {href} {...rest} class={cn(buttonStyles(variant), className)}>
  <slot />
</a>
