---
import { cn } from "@lib/cn";
import type { ButtonVariant } from "@lib/types/ButtonVariant";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  variant?: ButtonVariant;
}

const { href, variant = "default", class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  {href}
  class={cn(
    "btn",
    {
      "btn--primary": variant === "primary",
      "btn--outline": variant === "outline",
      "btn--outline-light": variant === "outline-light",
    },
    className,
  )}
>
  <slot />
</a>
