---
import { cn } from "@lib/cn";
import type { Course } from "@lib/schemas/Course";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  course: Course;
}

const { course, class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  href={`/kurser/${course.slug}`}
  class={cn(
    "btn",
    "flex flex-col gap-4 font-sans normal-case mt-0 py-6 relative",
    className,
  )}
>
  {
    course.draft && (
      <p class="absolute top-2 right-4">
        <small>Utkast</small>
      </p>
    )
  }
  <slot />
  <h3 class="text-2xl">
    {course.title}
    {course.soldOut && " (slutsåld)"}
  </h3>
  <p>{course.dates}</p>
  <p class="underline">Mer info</p>
</a>
