---
import type { IconName } from "@lib/enums/IconName";
import Icon from "./Icon.astro";

type Props = {
  icon: IconName;
};
const { icon } = Astro.props;
---

<li class="icon-list__item">
  <Icon name={icon} />
  <slot />
</li>

<style>
  .icon-list__item {
    display: flex;
    align-items: start;
    gap: calc(var(--spacing) * 2);
  }
</style>
