---
import { cn } from "@lib/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  current?: boolean;
  label?: string;
}

const { href, current, label, class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  {href}
  aria-current={current}
  class={cn("decoration-2 underline aria-current:no-underline", className)}
  set:text={label}
>
  <slot />
</a>
