---
import type { NavLink } from "@lib/types/NavLink";

type Props = {
  links: NavLink[];
  class?: string;
};

const { links, class: className } = Astro.props;
---

{
  links.map((link) => (
    <a
      href={link.path}
      aria-current={link.current ? "page" : undefined}
      class:list={[link.className, className]}
    >
      {link.label}
    </a>
  ))
}
