---
import {
  consolidateOpeningHours,
  formatConsolidatedDays,
  formatDay,
} from "@lib/openingHoursUtils";
import type { OpeningHours } from "@lib/schemas/OpeningHoursSchema";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  data: OpeningHours;
  title?: string;
  irregularLimit?: number;
  consolidated?: boolean;
}

const {
  data,
  title,
  irregularLimit,
  consolidated,
  class: className,
} = Astro.props;
const hasIrregularHours = data.irregular && data.irregular.length > 0;
const consolidatedHours = consolidateOpeningHours(data.days);
---

{title && <h4>{title}</h4>}

<div class:list={["@container", className]}>
  <table class="opening-hours-main">
    {
      consolidated
        ? consolidatedHours.map((row) => (
            <tr>
              <td>{formatConsolidatedDays(row)}</td>
              <td>{row.closed ? "stängt" : row.time}</td>
            </tr>
          ))
        : Object.values(data.days).map((row) => (
            <tr>
              <td>{formatDay(row.day)}</td>
              <td>{row.closed ? "stängt" : row.time}</td>
            </tr>
          ))
    }
  </table>

  {
    data.irregular && data.irregular.length > 0 && irregularLimit !== 0 && (
      <>
        <p class="mt-4 uppercase text-sm font-display tracking-wider mb-0">
          Avvikande öppettider:
        </p>
        <table class="irregular-hours">
          {data.irregular.slice(0, irregularLimit).map((row) => (
            <tr>
              <td>
                {row.formattedDate || row.date}
                <br />
                {row.name !== undefined && (
                  <small class="irregular-hours--description">{row.name}</small>
                )}
              </td>
              <td>{row.closed ? "stängt" : row.time}</td>
            </tr>
          ))}
        </table>
      </>
    )
  }

  {hasIrregularHours && <slot name="has-irregular" />}
</div>

<style>
  .opening-hours-main {
    font-size: var(--text-lg);
  }
</style>
