---
import { cn } from "@lib/cn";
import type { Product } from "@lib/schemas/Product";
import type { HTMLAttributes } from "astro/types";
import ProductOverviewSingle from "./ProductOverviewSingle.astro";

interface Props extends HTMLAttributes<"div"> {
  products: Array<{ product: Product; availablePickupDates: string[] }>;
}

const { products, class: className, ...rest } = Astro.props;
---

<div
  {...rest}
  class={cn("grid md:grid-cols-2 lg:grid-cols-3 gap-8 gap-y-16", className)}
>
  {products.map(({ product, availablePickupDates }) => (
    <ProductOverviewSingle product={product} {availablePickupDates} />
  ))}
</div>
