---
import { cn } from "@lib/cn";
import type { Product } from "@lib/schemas/Product";
import type { HTMLAttributes } from "astro/types";
import ProductOverviewSingle from "./ProductOverviewSingle.astro";
import { Image } from "astro:assets";
import donutImage from "@lib/assets/fredagsmunk-rabarber.jpeg";
import Card from "./Card.astro";

interface Props extends HTMLAttributes<"div"> {
  products: Array<{ product: Product; availablePickupDates: string[] }>;
}

const { products, class: className, ...rest } = Astro.props;
---

<div
  {...rest}
  class={cn("grid md:grid-cols-2 lg:grid-cols-3 gap-8 gap-y-16", className)}
>
  {
    products.map(({ product, availablePickupDates }) => (
      <ProductOverviewSingle product={product} {availablePickupDates} />
    ))
  }

  <Card linked title="Fredagsmunk" description="Ny smak varje vecka" stacked>
    <Image
      src={donutImage}
      alt="Fredagsmunk med rabarber"
      width={770}
      height={580}
      slot="image"
    />
    <a href="/bestall/fredagsmunk" slot="actions" class="btn btn--small"
      >Läs mer</a
    >
  </Card>
</div>
